In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline 

import seaborn as sns

In [17]:
import pandas as pd

# Sample DataFrame
data = {
    'Net Sales': [-440,-425,-430,-431,500, 1500, 2000, 2200, 2500, 2700, 3000, 3200, 4000, 10000, 15000]
}
df = pd.DataFrame(data)

# Calculate Q1, Q3, and IQR
Q1 = df['Net Sales'].quantile(0.25)
Q3 = df['Net Sales'].quantile(0.75)
IQR = Q3 - Q1

# Calculate lower and upper bounds for outliers
lower_bound = Q1 - (1.5 * IQR)
upper_bound = Q3 + (1.5 * IQR)

# Identify outliers
outliers = df[(df['Net Sales'] < lower_bound) | (df['Net Sales'] > upper_bound)]

print("Net Sales lower_bound:", lower_bound)
print("Net Sales upper_bound:", upper_bound)

outliers

Net Sales lower_bound: -4556.25
Net Sales upper_bound: 7693.75

    Net Sales
13      10000
14      15000

In [18]:
# Replace outliers with the upper bound and lowerbound
df['Net Sales'] = df['Net Sales'].apply(lambda x: upper_bound if x > upper_bound else x)
df['Net Sales'] = df['Net Sales'].apply(lambda x: lower_bound if x < lower_bound else x)

df

    Net Sales
0     -440.00
1     -425.00
2     -430.00
3     -431.00
4      500.00
5     1500.00
6     2000.00
7     2200.00
8     2500.00
9     2700.00
10    3000.00
11    3200.00
12    4000.00
13    7693.75
14    7693.75

In [19]:
import pandas as pd

# Sample DataFrame
data = {
    'Agency': ['A1', 'A2', 'A1', 'A3', 'A1', 'A2'],
    'Product Name': ['P1', 'P2', 'P1', 'P3', 'P1', 'P2'],
    'Net Sales': [100, 200, 100, 300, 100, 200],
    'Commission': [10, 20, 10, 30, 10, 20]
}
df = pd.DataFrame(data)

# Identify duplicate rows
duplicate_rows = df[df.duplicated(subset=df.columns, keep=False)]
print("Duplicate Rows:")
print(duplicate_rows)

Duplicate Rows:
  Agency Product Name  Net Sales  Commission
0     A1           P1        100          10
1     A2           P2        200          20
2     A1           P1        100          10
4     A1           P1        100          10
5     A2           P2        200          20

In [20]:
# Drop duplicates, keeping the first occurrence
df.drop_duplicates(subset=df.columns, keep='first', inplace=True)

# Print the DataFrame after dropping duplicates
print("\nDataFrame after dropping duplicates:")
print(df)

DataFrame after dropping duplicates:
  Agency Product Name  Net Sales  Commission
0     A1           P1        100          10
1     A2           P2        200          20
3     A3           P3        300          30